<div class="row">
  <h1 id="switch">การจัดการพนักงาน</h1>

  <div>
    <a href="/<%=sc_code%>/employee/new" class="button">
      <i class="fi-plus"></i> เพิ่มพนักงาน
    </a>
  </div>

  <table id="" class="data-table-ui" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="100">#</th>
        <th width="200"><center>ชื่อ</center></th>
        <th width="150"><center>นามสกุล</center></th>
        <th><center>ตำแหน่ง</center></th>
        <th width="150"><center>เบอร์โทรศัพท์</center></th>
        <th width="200"></th>
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(employeeData, function(data, i){ %>

      <tr>
        <td><center><%=i+1 %></center></td>
        <td><center><%=data.first_name %></center></td>
        <td><center><%=data.last_name %></center></td>
        <td><center><%=data.position %></center></td>
        <td><center><%=data.phone %></center></td>
        <td>
          <a href="/<%=data.sc_code %>/employee/<%=data._id%>/edit" class="button"  title="Edit">
            <i class="fi-pencil"></i> แก้ไข
          </a>
        </td>
        <td> 
          <a href="/<%=data.sc_code %>/employee/<%=data._id %>/destroy" class="button delete_btn"  title="delete">
            <i class="fi-x"></i> ลบ
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>



<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>