<div class="row">
  <h1 id="switch">การจัดการอาจารย์ผู้สอน</h1>

  <div>
    <a href="/<%=sc_code%>/teacher/new" class="button">
      <i class="fi-plus"></i> เพิ่มอาจารย์ผู้สอน
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th width="150"><center>ชื่อ - นามสกุล</center></th>
        <th width="150"><center>ชื่อเล่น</center></th>
        <th width="150"><center>Email</center></th>
        <th width="150"><center>เบอร์โทร</center></th>
        <th width="200" colspan="3"><center>รายการ</center></th>
      </tr>
    </thead>
    <tbody>

      <% _.each(teacherData, function(data){ %>
        <tr>
          <td>
            <center><%= data.first_name_th +' '+ data.last_name_th %></center>
          </td>
          <td>
            <center><%= data.nickname%></center>
          </td>
          <td>
            <center><%= data.email%></center>
          </td>
          <td>
            <center><%= data.phone%></center>
          </td>
          <td>
            <a href="/<%=data.sc_code %>/teacher/<%=data._id%>/timetable/manage" class="button"  title="Edit">
              <i class="fi-pencil"></i> จัดเวลาการสอน
            </a>
          </td>
          <td>
            <a href="/<%=data.sc_code %>/teacher/<%=data._id%>/edit" class="button"  title="Edit">
              <i class="fi-pencil"></i> แก้ไข
            </a>
          </td>
          <td> 
            <a href="/<%=data.sc_code %>/teacher/<%=data._id %>/destroy" class="button"  title="delete">
              <i class="fi-x"></i> ลบ
            </a>
          </td>
        </tr>
      

      <% }) %>

    </tbody>
  </table>

</div>