      <script type="text/javascript" src="/js/say-cheese.js"></script>
      <div class="row">
        <div class="large-12 columns">
          <h1>เพิ่มอาจารย์ผู้สอน</h1>
        </div>
      </div>
      <form data-abide action="/teacher/create" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="large-12 columns">
            <h4>ข้อมูลของครูผู้สอน</h4>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div id="avt"></div>
           <!--  <div>
              <div id="take-snapshot" class="button">Snap</div>
            </div> -->
          </div>
          <div class="large-6 columns">
            <div id="avt_taked"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div class="name-thai-field">
              <label>ชื่อ (ภาษาไทย)<small>required</small>
                <input name="first_name_th" type="text" required>
              </label>
              <small class="error">ชื่ออาจารย์ผู้สอน</small>
            </div>
          </div>
          
          <div class="large-6 columns">
            <div class="name-thai-field">
              <label>นามสกุล (ภาษาไทย)<small>required</small>
                <input name="last_name_th" type="text" required>
              </label>
              <small class="error">นามสกุลอาจารย์ผู้สอน</small>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="large-6 columns">
            <div class="name-thai-field">
              <label>ชื่อ (ภาษาอังกฤษ) 
                <input name="first_name_en" type="text">
              </label>
              <small class="error">ชื่ออาจารย์ผู้สอน</small>
            </div>
          </div>
          
          <div class="large-6 columns">
            <div class="name-thai-field">
              <label>นามสกุล (ภาษาอังกฤษ) 
                <input name="last_name_en" type="text">
              </label>
              <small class="error">นามสกุลอาจารย์ผู้สอน</small>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="large-12 columns">
            <div class="name-thai-field">
              <label>สอนวิชา 
                <span>
                  <a href="/<%=sc_code %>/course/new">ต้องการเพิ่มวิชา?</a>
                </span>
              </label>
                <% _.each(courseData, function(data){ %>            
                  <input 
                    id="checkbox<%=data._id%>" 
                    type="checkbox" 
                    name="teacher_course" 
                    value="<%=data._id%>">
                  <label for="checkbox<%=data._id%>"><%=data.syllabus%></label>
                <% }) %>
              <small class="error">ชื่อเล่นของอาจารย์ผู้สอน</small>
            </div>

            <div class="name-thai-field">
              <label>ชื่อเล่น <small>required</small>
                <input name="nickname" type="text" required>
              </label>
              <small class="error">ชื่อเล่นของอาจารย์ผู้สอน</small>
            </div>

            <div class="name-thai-field">
              <label>อาชีพ 
                <input name="position" type="text" >
              </label>
              <small class="error">กรุณาระบุอาชีพ</small>
            </div>

            <div class="name-thai-field">
              <label>เบอร์โทร <small>required</small>
                <input name="phone" type="text" required placeholder="Example:0812345678" maxlength="10">
              </label>
              <small class="error">กรุณาระบุเบอร์โทร</small>
            </div>

            <div class="name-thai-field">
              <label>ที่อยู่ 
                <textarea  name="address" ></textarea>
              </label>
              <small class="error">กรุณาระบุที่อยู่</small>
            </div>

            <div class="email-field">
              <label>อีเมล์ <small>required</small>
                <input name="email"  type="email" required placeholder="example@email.com">
              </label>
              <small class="error">กรุณาระบุอีเมล์.</small>
            </div>

            <div class="email-field">
              <label>รหัสผ่าน<small>required</small>
                <input id="password" name="password"  type="password" required >
              </label>
              <small class="error">กรุณาระบุรหัสผ่าน.</small>
            </div>

            <div class="email-field">
              <label>ยืนยันรหัสผ่าน<small>required</small>
                <input name="eq_password"  type="password" required data-equalto="password">
              </label>
              <small class="error">รหัสผ่านไม่ตรงกัน.</small>
            </div>
            <input type="hidden" name="sc_code" value="<%=sc_code%>">

            <button type="submit">Submit</button>
          </div>
        </div>
      </form>


 <script>

    $(function() {
      var sayCheese = new SayCheese('#avt', { audio: false });
      sayCheese.on('start', function() {
        // this.takeSnapshot();
        $('#take-snapshot').on('click', function(evt) {
          sayCheese.takeSnapshot();
        });
      });

      sayCheese.on('snapshot', function(snapshot) {
        var img = document.createElement('img');
        $(img).on('load', function() {
          $('#avt_taked').prepend(img);
        });
        img.src = snapshot.toDataURL('image/png');
      });

      // sayCheese.start();
    });
 </script>   
