<div class="row">
  <h1 id="switch">ตารางเวลาการสอน</h1>


  <table class="data-table-ui">
    <thead>
      <tr>
        <th>ชื่อ - นามสกุล</th>
        <th>ชื่อเล่น</th>
        <th>Email</th>
        <th>เบอร์โทร</th>
        <th width="150"></th>
      </tr>
    </thead>
    <tbody>

      <% _.each(teacherData, function(data){ %>
        <tr>
          <td>
            <%= data.first_name_th +' '+ data.last_name_th %>
          </td>
          <td>
            <%= data.nickname%>
          </td>
          <td>
            <%= data.email%>
          </td>
          <td>
            <%= data.phone%>
          </td>
          <td>
            <a href="/<%=data.sc_code %>/teacher/<%=data._id%>/timetable/show" 
              data-tooltip aria-haspopup="true" class="button tip-top"  title="ดูตารางเวลาการสอน">
              <i class="fi-eye"></i> 
            </a>
          </td>
        </tr>
      

      <% }) %>

    </tbody>
  </table>

</div>