<div class="row">
   <div class="large-12 columns">

   </div>
</div>
<div class="row">
<% _.each(my_course, function(mycourse){  %>

  
   <div class="large-12 columns">
    <h3 id="switch">วิชา <%=mycourse.syllabus%></h3>
    <table>
      <tr>
        <td>วันจันทร์</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
          
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "monday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
              <td>
                <p><%=time_d.times%></p>
              </td>  
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันอังคาร</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
         
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "tuesday" && mycourse._id.toString() == timetable.course_id.toString() ){ %>
             <td>  <p><%=time_d.times%></p></td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันพุธ</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
          
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "wednesday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
            <td>  <p><%=time_d.times%></p> </td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันพฤหัสบดี</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
          
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "thursday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
              <td> <p><%=time_d.times%></p> </td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันศุกร์</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
          
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "friday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
              <td> <p><%=time_d.times%></p> </td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันเสาร์</td>
        <% _.each(teacher_timetable.time_data, function(timetable){  %>
         
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "saturday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
               <td> <p><%=time_d.times%></p></td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
      <tr>
        <td>วันอาทิตย์</td>
          <% _.each(teacher_timetable.time_data, function(timetable){  %>
          
            <% _.each(timetable.time, function(time_d){  %>
              <% if(time_d.day == "sunday" && mycourse._id.toString() == timetable.course_id.toString()){ %>
              <td><p><%=time_d.times%></p></td>
              <% } %>
            <% })  %>
          
        <% })  %>
      </tr>
    </table>
</div>
<% })  %>  
</div>