<div class="row">
    <div class="large-12 columns">

      <h1>เพิ่มข้อมูลห้องเรียน</h1>

      <form data-abide action="/<%=sc_code%>/classroom/<%=classroomData._id%>/update" 
            method="POST" 
            enctype="multipart/form-data" >


        <h4>ข้อมูลของพนักงาน</h4>

        <div class="name-thai-field">
          <label>ชื่อห้องเรียน *<small>required</small>
            <input name="name" type="text" required value="<%=classroomData.name%>">
          </label>
          <small class="error">ชื่อห้องเรียน</small>
        </div>

        <div class="name-thai-field">
          <label>คำอธิบาย
            <input name="description" type="text" value="<%=classroomData.description%>">
          </label>
          <small class="error">คำอธิบายของรายวิชา</small>
        </div>

        <div class="name-thai-field">
          <label>รายการอุปกรณ์ในห้อง 
            <textarea class="textarea" name="room_equipment" id="" cols="30" rows="10"><%=classroomData.room_equipment%></textarea>
          </label>
          <small class="error">คำอธิบายของรายวิชา</small>
        </div>
        <div class="name-thai-field">
          <div>
            <% if( classroomData.room_plan){ %>
              <% if( classroomData.room_plan.length != 0 ){ %>
              <img src="/uploads/classroom/<%=classroomData.room_plan[0].filename%>" alt="" class="large-6">
              <% }  %>
            <% }  %>
          </div>
          
          <div>
            <input type="hidden" name="sc_code" value="<%=sc_code%>" />
            <input type="hidden" name="classroom_id" value="<%=classroomData._id%>" />
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </div>

          <label>รูปแผนผังห้องเรียน 
            <input type="file" name="room_plan" id="" />
          </label>

          <small class="error">คำอธิบายของรายวิชา</small>
        </div>

        
        <button type="submit">Submit</button>
      </form>


    </div>
</div>