<div class="row">
  <h1 id="switch">การจัดการห้องเรียน</h1>

  <div>
    <a href="/<%=sc_code%>/classroom/new" class="button">
      <i class="fi-plus"></i> เพิ่ม
    </a>
  </div>

  <div>
<table id="" class="data-table-ui" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อห้องเรียน</th>
              <th>รายละเอียด</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อห้องเรียน</th>
              <th>รายละเอียด</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
        </tfoot>
 
        <tbody>
          <% _.each(classroomData, function(data){ %>
          <tr>
            <td><%=1%></td>
            <td class="center"><%=data.name%></td>
            <td class="center"><%=data.description%></td>
            <td>
              <a href="/<%=sc_code%>/classroom/dashboard" class="button" title="Setting">
                <i class="fi-widget"></i>
                จัดการ
              </a>
            </td>
            <td>
              <a href="/<%=sc_code%>/classroom/<%=data._id%>/edit" class="button"  title="Edit">
                <i class="fi-pencil"></i> แก้ไข
              </a>
            </td>
            <td> 
              <a href="/<%=sc_code%>/classroom/<%=data._id %>/destroy" class="button"  title="delete">
                <i class="fi-x"></i> ลบ
              </a>
            </td>
          </tr>
          <%})%> 
          
        </tbody>
    </table>
    

  </div>

</div>