<div class="row">
  <h1 id="switch">การจัดการห้องเรียน</h1>

  <div>
    <a href="/<%=sc_code%>/classroom/new" class="button">
      <i class="fi-plus"></i> เพิ่มห้องเรียน
    </a>
  </div>

  <div>
      <table id="" class="data-table-ui" cellspacing="0" width="100%">
        <thead>
            <tr> 
              <th>ชื่อห้องเรียน</th>
              <th>รายละเอียด</th>
              <th width="200">&nbsp;</th> 
            </tr>
        </thead> 
 
        <tbody>
          <% _.each(classroomData, function(data){ %>
          <tr> 
            <td class="center"><%=data.name%></td>
            <td class="center"><%=data.description%></td>
            <td class="center">
              <a href="/<%=sc_code%>/classroom/<%=data._id%>/edit" 
                 data-tooltip aria-haspopup="true" class="button tip-top"  title="แก้ไข">
                <i class="fi-pencil"></i> 
              </a> 
              <a href="/<%=sc_code%>/classroom/<%=data._id %>/destroy" 
                data-tooltip aria-haspopup="true" 
                class="button delete_btn tip-top"  title="ลบ">
                <i class="fi-x"></i> 
              </a>
            </td>
          </tr>
          <%})%> 
          
        </tbody>
    </table>
    

  </div>

</div>


<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>