<div class="row centered-text">
  <div class="small-2 large-12 columns">
    <h2>ยินดีต้อนรับเข้าสู่ระบบ</h2>
    <h4>Dashboard statistics & reports</h4>
  </div>

</div>

<br/>
<br/>

<div class="row centered-text">
  <div class="small-6 large-6 columns">
    <div class="widget">
      <div class="header-container">
        <h3>
          <i class="fi-torsos-all"></i>
          นักเรียน
          <span class="right"><%=counting.student %></span>
        </h3> 
      </div>
      <div class="widget-container">
        <% 
          var i = 0;
          _.each(student, function(std) { 
            if(i < 10){
        %>
          <p>
            <%= std.first_name_thai %> 
            <%= std.last_name_thai %>
          </p>
        <% 
            i++;
            }
          })  
        %>
      </div>
    </div>
  </div>
  <div class="small-6 large-6 columns">
    <div class="widget">
      <div class="header-container green">
        <h3>
          <i class="fi-torso"></i>
          อาจารย์
          <span class="right"><%=counting.teacher %></span>
        </h3> 
      </div>
      <div class="widget-container">
        <% 
          var i = 0;
          _.each(teacher, function(teachr) { 
            if(i < 10){
        %>
          <p>
            <%= teachr.first_name_th %> 
            <%= teachr.last_name_th %>
          </p>
        <% 
            i++;
            }
          })  
        %>
      </div>
    </div>
  </div>
  <div class="small-6 large-4 columns">
    
  </div>
</div>