<div class="row">
  <h1 id="switch">การจัดการนักเรียน</h1>

  <div>
    <a href="/<%=sc_code%>/student/new" class="button">
      <i class="fi-plus"></i> เพิ่มนักเรียน
    </a>
  </div>

  <table id="" class="data-table-ui" cellspacing="0" width="100%">
    <thead>
      <tr>       
        <th><center>ชื่อ - นามสกุล</center></th> 
        <th><center>ชื่อเล่น</center></th>
        <th><center>เบอร์โทรศัพท์</center></th> 
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(studentData, function(data, i){ %>

      <tr>      
        <td><center><%=data.first_name_thai %> <%=data.last_name_thai %></center></td>
        <td><center><%=data.nickname %></center></td>
        <td><center><%=data.phone %></center></td>
        <td>
          <a href="/<%=data.sc_code %>/student/<%=data._id%>/edit"
            data-tooltip aria-haspopup="true" class="button tip-top" 
            class="button"  title="แก้ไขข้อมูล">
            <i class="fi-pencil"></i> 
          </a> 
          <a href="/<%=data.sc_code %>/student/<%=data._id %>/destroy" 
              data-tooltip aria-haspopup="true" class="button tip-top" 
              class="button delete_btn"  title="ลบ">
            <i class="fi-x"></i> 
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>

<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>