<div class="row">
  <h1 id="switch">การจัดการนักเรียน</h1>

  <div>
    <a href="/<%=sc_code%>/student/new" class="button">
      <i class="fi-plus"></i> เพิ่มนักเรียน
    </a>
  </div>

  <table id="" class="data-table-ui" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="100"><center>#</center></th>        
        <th width="100"><center>ชื่อ</center></th>
        <th width="150"><center>นามสกุล</center></th>
         <th width="150"><center>ชื่อเล่น</center></th>
        <th width="150"><center>เบอร์โทรศัพท์</center></th>
        <th width="200"></th>
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(studentData, function(data, i){ %>

      <tr>
        <td><center><%=i+1 %></center></td>         
        <td><center><%=data.first_name_thai %></center></td>
        <td><center><%=data.last_name_thai %></center></td>
        <td><center><%=data.nickname %></center></td>
        <td><center><%=data.phone %></center></td>
        <td>
          <a href="/<%=data.sc_code %>/student/<%=data._id%>/edit" class="button"  title="Edit">
            <i class="fi-pencil"></i> แก้ไขข้อมูล
          </a>
        </td>
        <td> 
          <a href="/<%=data.sc_code %>/student/<%=data._id %>/destroy" class="button delete_btn"  title="delete">
            <i class="fi-x"></i> ลบ
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>

<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>