<div class="row">
  <div class="large-12 columns">
    <h1>ตารางเรียน ของ </h1>
  </div>  
    <div class="large-4 columns">
      <p>ชื่อ : <%=studentData.first_name_thai  %></p>
    </div>
    <div class="large-4 columns">
      <p>นามสกุล : <%=studentData.last_name_thai  %></p>
    </div>
    <div class="large-4 columns">
      <p>ชื่อเล่น : <%=studentData.nickname  %></p>
    </div> 
    <div class="large-4 columns">
      <p>เบอร์โทรศัพท์ : <%=studentData.phone  %></p>
    </div>  
    <div class="large-4 columns end">
      <p>Email : <%= studentData.email  %></p>
    </div>
    <div class="large-12 columns">
      <h4>ข้อมูลผู้ปกครอง</h4> 
    </div> 
    <div class="large-4 columns">
      <p>ชื่อผู้ปกครอง : <%=studentData.parrent_first_name  %></p>
    </div>  
    <div class="large-4 columns">
      <p>นามสกุล : <%=studentData.parrent_last_name  %></p>
    </div>  
    <div class="large-4 columns">
      <p>เบอร์โทรศัพท์ : <%=studentData.parrent_phone  %></p>
    </div>  
  </div>

  <div class="row">
    <br/>
    <hr/>
  </div> 
</div>

<div class="row">
  <div class="large-12 columns">
  <% if(studentRegistCostData.length == 0){ %>
    <div>
      <p> ไม่มีข้อมูล</p>
    </div>
  <% }else{  %>


  
    <table>
    
      <% var count_length = parseInt(studentRegistCostData[0].mycourse_start.length) / 2  %>
     
      <tr>
        <td>วันที่</td>
        <td>
           เวลาเรียน
        </td>
      </tr>
      <% var counter = 0  %>
      <% _.each(studentRegistCostData[0].date, function(mycourse){ %>

        <tr>
          
          <td>
            <%= moment(mycourse, "D-MM-YYYY").lang('th').format('dddd D-MM-YYYY')  %>  
          </td>

          <td>
            <%= studentRegistCostData[0].mycourse_start[counter]  %>
             - 
            <%= studentRegistCostData[0].mycourse_end[counter]  %>
          </td>
        </tr>
        <%  counter++  %>
      <%  })  %>


    </table>
  <% }  %>
  </div>
</div>