<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/styles/foundation.css" />
    <link rel="stylesheet" href="/styles/foundation-icons.css" />
    <link rel="stylesheet" href="/styles/dataTables.foundation.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Bring in the socket.io client -->
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <script src="/js/vendor/jquery.js"></script>
    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>
    
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/<%=sc_code%>/schools/dashboard"><%=schoolData.school_name_en%></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">User: </a></li>
          <li class="has-dropdown">
            <a href="#">User:</a>
            <ul class="dropdown">
              <li><a href="#">Log out</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Student</a>
            <ul class="dropdown">
              <li><a href="/<%=sc_code%>/student/register"><i class="fi-download"></i> ลงทะเบียนเรียน</a></li>
              <li><a href="/<%=sc_code%>/student"><i class="fi-folder"></i> การจัดการนักเรียน</a></li>
              <li><a href="/<%=sc_code%>/student"><i class="fi-list"></i> ตารางเรียนนักเรียน</a></li>
              <!-- <li><a href="/<%=sc_code%>/student/studytoday"><i class="fi-checkbox"></i> นักเรียนทีเรียนวันนี้</a></li> -->
            </ul>
          </li>
          <li  class="has-dropdown">
            <a href="#">Teacher</a>
            <ul class="dropdown">
              <li>
                <a href="/<%=sc_code%>/teacher/new"><i class="fi-plus"></i> เพิ่มอาจารย์ผู้สอน</a>
              </li>
              <li>
                <a href="/<%=sc_code%>/teacher"><i class="fi-folder"></i> การจัดการอาจารย์ผู้สอน</a>
              </li>
              <li>
                <a href="/<%=sc_code%>/teacher/timetable"><i class="fi-list"></i> ตารางสอนอาจารย์</a>
              </li>
            </ul>
          </li>
          <li  class="has-dropdown"> 
            <a href="#">Classroom</a>
            <ul class="dropdown">
              <li>
                <a href="/<%=sc_code%>/classroom"><i class="fi-folder"></i> การจัดการห้องเรียน</a>
              </li><!-- 
              <li>
                <a href="#"><i class="fi-list-bullet"></i> ตารางเรียนตามวิชาเรียน </a>
              </li> -->
            </ul>
          </li>
          <li><a href="/<%=sc_code%>/course">Course</a></li>
          <li><a href="/<%=sc_code%>/employee">Employee</a></li>
          
          
        </ul>
      </section>
    </nav>

    <!-- Include the view file for the current controller/route -->
    <%- body %>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->

    <script src="/js/vendor/modernizr.js"></script>    
    <script src="/js/foundation.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/foundation/dataTables.foundation.js"></script>


    <script>
      $(document).foundation();
      $(document).ready(function(){
        $('table.data-table-ui').dataTable();  
      })
      
    </script>

    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
