<div class="row">
  <h1 id="switch">School Management</h1>

  <div>
    <a href="/schools/setup" class="button">
      <i class="fi-plus"></i> New
    </a>
  </div>

  <table  class="data-table-ui" >
    <thead>
      <tr>
        <th width="280">ชื่อโรงเรียน</th>
        <th width="280">ชื่อโรงเรียน ภาษาอังกฤษ</th> 
        <th width="150">เบอร์โทรศัพท์</th>
        <th></th> 
      </tr>
    </thead>
    <tbody>

      <% _.each(data, function(data){ %>

      <tr>
        <td><%=data.school_name_th %></td>
        <td><%=data.school_name_en %></td> 
        <td><%=data.shool_phone %></td>
        <td>
          <a href="/<%=data.sc_code%>/schools/dashboard" data-tooltip aria-haspopup="true" 
             class="tip-top button" 
             title="การจัดการโรงเรียน">
            <i class="fi-widget"></i> 
          </a> 
          <a href="/schools/<%=data._id%>/edit" data-tooltip aria-haspopup="true" 
             class="tip-top button" 
             title="แก้ไขข้อมูล">
            <i class="fi-pencil"></i>
          </a> 
          <a href="/schools/<%=data._id %>/destroy" data-tooltip aria-haspopup="true" 
             class="tip-top button delete_btn"  
             title="ลบข้อมูลโรงเรียน">
            <i class="fi-x"></i>
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>



<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>