<div class="row">
  <h1 id="switch">การจัดการรายวิชา</h1>

  <div>
    <a href="/<%=sc_code%>/course/new" class="button">
      <i class="fi-plus"></i> เพิ่มรายวิชา
    </a>
  </div>

  <table id="" class="data-table-ui" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th><center>วิชา</center></th>
        <th width="300"><center>คำอธิบาย</center></th> 
        <th><center>จำนวนนักเรียน</center></th>
        <th width="200"></th> 
      </tr>
    </thead>
    <tbody>
      
      <% _.each(courseData, function(data){ %>

      <tr>
        <td><center><%=data.syllabus %></center></td>
        <td><center><%=data.discription %></center></td> 
        <td><center><%=data.no_of_student %></center></td>
        <td>
          <a href="/<%=data.sc_code %>/course/<%=data._id%>/edit"
             data-tooltip aria-haspopup="true" class="button"  title="แก้ไข">
            <i class="fi-pencil"></i> 
          </a>  
          <a href="/<%=data.sc_code %>/course/<%=data._id %>/destroy" 
             data-tooltip aria-haspopup="true" 
             class="button deltele_time delete_btn"  title="ลบ">
            <i class="fi-x"></i> 
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>


<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>







