<div class="row">
  <h1 id="switch">การจัดการรายวิชา</h1>

  <div>
    <a href="/<%=sc_code%>/course/new" class="button">
      <i class="fi-plus"></i> เพิ่มรายวิชา
    </a>
  </div>

  <table id="" class="data-table-ui" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="200"><center>วิชา</center></th>
        <th width="150"><center>คำอธิบาย</center></th>
        <th width="150"><center>Groups</center></th>
        <th width="150"><center>จำนวนนักเรียน</center></th>
        <th width="200" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      
      <% _.each(courseData, function(data){ %>

      <tr>
        <td><center><%=data.syllabus %></center></td>
        <td><center><%=data.discription %></center></td>
        <td><center><%=data.groups %></center></td>
        <td><center><%=data.no_of_student %></center></td>
        <td>
          <a href="/<%=data.sc_code %>/course/<%=data._id%>/edit" class="button"  title="Edit">
            <i class="fi-pencil"></i> แก้ไข
          </a>
        </td>
        <td> 
          <a href="/<%=data.sc_code %>/course/<%=data._id %>/destroy" class="button deltele_time delete_btn"  title="delete">
            <i class="fi-x"></i> ลบ
          </a>
        </td>
      </tr>

      <% }) %>

    </tbody>
  </table>

</div>


<script type="text/javascript">

  $(".delete_btn").on("click", function () {
    var r = confirm("ยืนยันการลบข้อมูล!");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  })

</script>







